@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply mt-6 text-xl first:mt-0;
  }

  p {
    @apply mb-3;
  }

  a {
    @apply text-primary;
  }
  ul {
    @apply pt-2;
    list-style-type: circle;
  }
  li {
    @apply pb-1;
  }
}

@layer components {
  .sabs-image {
    @apply object-contain;
    width: 300px;
    height: 449px;
  }

  .input {
    @apply h-10 w-full rounded border border-stone-500 bg-transparent p-2 text-white;
  }

  .input::placeholder {
    @apply text-stone-500;
  }

  .input:focus {
    outline: none;
    @apply border-primary;
  }

  .message {
    min-height: 170px;
  }

  .auto-complete-table {
    @apply absolute top-10 w-full bg-gray-600 shadow-lg;
    max-height: 400px;
    overflow: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-area::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-area {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
