@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply bg-gray-dark text-white;
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply font-bold mb-2 mt-6 first:mt-0 text-xl
  }

  p {
    @apply mb-3
  }

  a {
    @apply text-primary
  }
}

@layer components {
  .image-container {
    @apply gap-4 hidden sm:block;
    /* flex: 0 0; */
  }
  .sabs-image {
    @apply object-contain;
    width: 300px;
    height: 449px;
  }
  
  .parker-image {
    @apply object-contain;
    width: 300px;
    height: 450px;
  }

  .input {
    @apply mb-4 w-full rounded p-2 text-gray-dark
  }

  .message {
    min-height: 120px;
  }
}

@layer utilities {
  @keyframes reset{0%{opacity:0.0}50%{opacity:0}100%{opacity:0}}
  @keyframes fade-in{0%{opacity:0.0}50%{opacity:0}100%{opacity:1.0}}

  .fade-in {
    animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }
}


