@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply bg-black text-white;
  }

  h1 {
    @apply text-3xl
  }

  h2 {
    @apply font-bold mt-6 first:mt-0 text-xl
  }

  p {
    /* @apply mb-3 */
  }

  a {
    @apply text-primary
  }
}

@layer components {
  .sabs-image {
    @apply object-contain;
    width: 300px;
    height: 449px;
  }

  .input {
    @apply mb-3 w-full rounded p-2 bg-transparent border-stone-500 border text-white h-10;
  }
  
  .input::placeholder  {
    @apply text-stone-500;
  }

  .input:focus  {
    outline: none;
    @apply border-red-600;
  }

  .message {
    min-height: 120px;
  }

  .auto-complete-table {
    @apply absolute bg-gray-600 shadow-lg w-full top-10;
    max-height: 400px;
    overflow: hidden;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-area::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-area {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer utilities {
  @keyframes reset{0%{opacity:0.0}50%{opacity:0}100%{opacity:0}}
  @keyframes fade-in{0%{opacity:0.0}50%{opacity:0}100%{opacity:1.0}}

  .fade-in {
    animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
  }
}


